.search-page {
    position: relative;
    width: 90%;
    min-width: 1000px;
    margin: 100px;
}

.search-wrap {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover{
    opacity: 0.8;
}

.searchButton:focus {
    outline: 0;
}

.searchButton:active{
    opacity: 0.6;
}

.search-result {
    position: relative;
    background-color: white;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
}
